<h1>
  <span class="far fa-edit"></span> Edit
</h1>

<form method="post" action="./{{viewData.id}}/update">
<input type="hidden" name="id" value="{{viewData.id}}" />
  <div class="form-group">
    <input type="text" class="form-control" name="title" value="{{viewData.title}}" required="required" autofocus="autofocus" />
    <textarea name="code" value="value" cols="104" rows="15">{{viewData.codeContent}}</textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Save</button>
</form>
